# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache files
.vs/
*.vc.db
*.vscode/

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/

# Others
*.dbmdl
*.bak
*.log
*.tmp